<!DOCTYPE html>
<html><body>
<a href="/">Home</a> |
<a href="/welcome/">Welcome</a> |
<a href="/add/">Add Player</a><hr>
<form method="GET">
<input type="text" name="search">
<button>Search</button>
</form>
{% if players %}
<table border="1">
<tr><th>Name</th><th>Test Innings</th><th>Runs</th><th>Action</th></tr>
{% for player in players %}
<tr>
<td>{{player.name}}</td>
<td>{{player.test_innings}}</td>
<td>{{player.runs}}</td>
<td><a href="/edit/{{player.id}}">Edit</a> <a href="/delete/{{player.id}}">Delete</a></td>
</tr>
{% endfor %}
</table>
{% else %}
<h3>No Record Found</h3>
{% endif %}
</body></html>
